<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{common/base::base}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rossano</title>
</head>
<body>
    <!-- Aqui debe ir el contenido de la pagina -->
    <main layout:fragment="contenido">
        <div class="container-fluid px-4">
            <h1 class="mt-4">Productos</h1>
            <ol class="breadcrumb mb-4">
                <li class="breadcrumb-item active">Crear o Editar Producto</li>
            </ol>
            <div th:if=${param.error} class="px-2 pt-2">
                <div class="alert alert-danger alert-dismissible fade show" role="alert">
                    <strong th:text="${errorMsg}"></strong>
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            </div>
            <div class="card shadow my-2">
                <div class="card-header text-center text-secondary">
                    Complete los campos obligatorios (*)
                </div>
                <div class="card-body">
                    <form th:action="@{/productos/save}" method="post" class="row">
                        <div class="form-group col-xl-4 col-md-6 mt-auto py-2">
                            <label for="name" class="form-label">Código de Barra (*)</label>
                            <input type="text" class="form-control" th:readonly="${producto.codigoBarra != null ? 'true' : 'false'}" th:value="${producto.codigoBarra}" name="codigoBarra" id="codigoBarra" placeholder="" required />
                        </div>
                        <div class="form-group col-xl-4 col-md-6 mt-auto py-2">
                            <label for="name" class="form-label">Código Interno</label>
                            <input type="text" class="form-control" th:value="${producto.codigoInterno}" name="codigoInterno" id="codigoInterno" placeholder="" />
                        </div>
                        <div class="form-group col-xl-4 col-md-6 mt-auto py-2">
                            <label for="name" class="form-label">Nombre (*)</label>
                            <input type="text" class="form-control" th:value="${producto.nombre}" name="nombre" id="nombre" placeholder="" required />
                        </div>
                        <div class="form-group col-xl-4 col-md-6 mt-auto py-2">
                            <label for="name" class="form-label">Categoría (*)</label>
                            <select class="form-select" name="cat" id="cat" placeholder="" required>
                                <option disabled th:selected="${producto != null}" value="">Seleccione una opción</option>
                                <optgroup label="Roles" id="rolesGroup">
                                    <option th:each="cat : ${categorias}" th:value="${cat.code}" th:selected="${producto.cat == cat.code}" th:text="${cat.nombre}"></option>
                                </optgroup>
                            </select>
                        </div>
                        <div class="form-group col-xl-4 col-md-6 mt-auto py-2">
                            <label for="name" class="form-label">Existencia (*)</label>
                            <input type="number" class="form-control" th:value="${producto.existencia}" name="existencia" id="existencia" placeholder="" onpaste="return false" onkeypress="onlyNumbers(event)"  required />
                        </div>
                        <div class="form-group col-xl-4 col-md-6 mt-auto py-2">
                            <label for="name" class="form-label">Precio Costo (*)</label>
                            <input type="number" class="form-control" th:value="${producto.precioCosto}" name="precioCosto" id="precioCosto" placeholder="" onpaste="return false" onkeypress="onlyNumbers(event)" required />
                        </div>
                        <div class="form-group col-xl-4 col-md-6 mt-auto py-2">
                            <label for="name" class="form-label">Precio Final (*)</label>
                            <input type="number" class="form-control" th:value="${producto.precioFinal}" name="precioFinal" id="precioFinal" placeholder="" onpaste="return false" onkeypress="onlyNumbers(event)" required />
                        </div>
                        <div class="form-group col-xl-8 col-md-12 mt-auto py-2">
                            <label for="name" class="form-label">Descripción (*)</label>
                            <textarea class="form-control" rows="1" name="descripcion" id="descripcion" maxlength="250" th:text="${producto.descripcion}" required ></textarea>
                        </div>
                        <div class="col-12 text-center mt-2">
                            <button type="submit" class="btn btn-success">
                                <i class="fa-solid fa-check"></i>
                                Confirmar
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <script>
            function onlyNumbers(event) {
                const teclaPresionada = event.key;
                const esNumero = /^\d$/.test(teclaPresionada);
              
                if (!esNumero) {
                  event.preventDefault();
                }
            }
        </script>
    </main>
</body>
</html>
