<!DOCTYPE html>
<html lang="es-ES" dir="ltr" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <link rel = "icon" th:href="@{/img/logo.png}" type="image/x-icon">
        <title>Login - SB Admin</title>
        <link href="/css/styles.css" rel="stylesheet" />
        <script src="https://use.fontawesome.com/releases/v6.3.0/js/all.js" crossorigin="anonymous"></script>
    </head>
    <body class="vh-100 bg-primary">
        <main class="h-100">
            <div class="container-fluid h-100">
                <div class="row d-flex justify-content-center align-items-center h-100">
                    <div class="col-12 col-md-8 col-lg-6 col-xl-5">
                        <div class="card shadow-lg border-0 rounded-lg">
                            <div class="card-header">
                                <div th:if=${param.error} class="px-2 pt-2">
                                    <div class="alert alert-danger text-center" id="badCredentials" role="alert">
                                        <strong>Credenciales Incorrectas</strong>
                                    </div>
                                </div>
                                <div th:if=${param.logoutSuccessfully} class="px-2 pt-2">
                                    <div class="alert alert-success text-center" id="badCredentials" role="alert">
                                        <strong>Sesión concluida satisfactoriamente</strong>
                                    </div>
                                </div>
                                <h3 class="text-center font-weight-light my-4">Iniciar Sesión</h3>
                            </div>
                            <div class="card-body">
                                <form action="/login" method="post">
                                    <div class="form-floating mb-3">
                                        <input class="form-control" id="username" name="username" type="email" placeholder="name@example.com" />
                                        <label for="inputEmail">Correo Electrónico</label>
                                    </div>
                                    <div class="form-floating mb-3">
                                        <input class="form-control" id="password" name="password" type="password" placeholder="Password" />
                                        <label for="inputPassword">Contraseña</label>
                                    </div>
                                    <div class="form-check mb-3">
                                        <input class="form-check-input" id="rememberPassword" type="checkbox" value="" />
                                        <label class="form-check-label" for="rememberPassword">Recordar Contraseña</label>
                                    </div>
                                    <div class="d-flex align-items-center justify-content-between mt-4 mb-0">
                                        <a class="small" href="#">Olvide mi Contraseña</a>
                                        <button class="btn btn-primary" type="submit">Continuar</button>
                                    </div>
                                </form>
                            </div>
                            <div class="card-footer text-center py-3">
                                <div class="small">Rossano Web Admin</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
        <script src="/js/scripts.js"></script>
    </body>
</html>
