<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{common/base::base}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rossano</title>
</head>
<body>
    <!-- Aqui debe ir el contenido de la pagina -->
    <main layout:fragment="contenido">
        <div class="container-fluid px-4">
            <h1 class="mt-4">Pagina</h1>
            <ol class="breadcrumb mb-4">
                <li class="breadcrumb-item active">Accion</li>
            </ol>
        </div>
    </main>
</body>
</html>
